<% provide(:title, t(".title")) %>
<h1><%= t ".topic" %></h1>
<p>
      <%= t(".strfull",
        rubyonrails: link_to(t(".rubyonrails"), Settings.links.railstutorial),
        book: link_to(t(".book"), Settings.links.railsbook),
        series: link_to(t(".series"), Settings.links.screencasts),
        rubyonrails: link_to(t(".rubyonrails"), Settings.links.railstutorial)).html_safe
      %>
      <%= t ".content1" %>
</p>
