<% provide(:title, t(".title")) %>
<h1><%= t ".topic" %></h1>
<p>
  <%= t(".strfull", link: link_to(t(".link"), Settings.links.railshelp ),
  book: link_to(t(".book"), Settings.links.railsbook )).html_safe
  %>
</p>
